#Eclipse Project Files
.classpath
.project
.settings/

#IntelliJ Project Files
.idea/
*.iml
*.iws
*.ipr

#Gradle Files
.gradle/
build/

#Compile location
out/
bin/

#File Types
*.class
*.jar

#Crash Logs
hs_err_pid*
